diff --git a/automotive/vehicle/aidl/impl/vhal/src/VehicleService.cpp b/automotive/vehicle/aidl/impl/vhal/src/VehicleService.cpp
index f8a4e7d..0912c73 100644
--- a/automotive/vehicle/aidl/impl/vhal/src/VehicleService.cpp
+++ b/automotive/vehicle/aidl/impl/vhal/src/VehicleService.cpp
@@ -17,14 +17,14 @@
 #define LOG_TAG "VehicleService"
 
 #include <DefaultVehicleHal.h>
-#include <FakeVehicleHardware.h>
+#include <BridgeVehicleHardware.h>
 
 #include <android/binder_manager.h>
 #include <android/binder_process.h>
 #include <utils/Log.h>
 
 using ::android::hardware::automotive::vehicle::DefaultVehicleHal;
-using ::android::hardware::automotive::vehicle::fake::FakeVehicleHardware;
+using ::android::hardware::automotive::vehicle::bridge::BridgeVehicleHardware;
 
 int main(int /* argc */, char* /* argv */[]) {
     ALOGI("Starting thread pool...");
@@ -34,7 +34,7 @@ int main(int /* argc */, char* /* argv */[]) {
     }
     ABinderProcess_startThreadPool();
 
-    std::unique_ptr<FakeVehicleHardware> hardware = std::make_unique<FakeVehicleHardware>();
+    std::unique_ptr<BridgeVehicleHardware> hardware = std::make_unique<BridgeVehicleHardware>();
     std::shared_ptr<DefaultVehicleHal> vhal =
             ::ndk::SharedRefBase::make<DefaultVehicleHal>(std::move(hardware));
 
